<footer style="background-color: rgb(237, 232, 232);">
  <div class="container" style="padding-bottom: 0; font-family: Playfair Display;">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" style="margin-bottom: 0 !important;">
      <div class="col mb-3">
        <a href="http://localhost:3000/" class="d-flex align-items-center mb-1 navbar-brand">UrbanGlow</a>
        <p class="text-body-secondary" style="margin-left: 2rem; width: 15rem;"><b>&copy; <span style="font-family:serif;">2023-24,</span> Copyrights Reserved.</b></p>
        <p class="text-body-secondary" style="margin-left: 2rem; width: 15rem;">Made On <b>NodeJs, ExpressJs, EJS </b> and <b> Bootstrap.</b></p>
      </div>
      
      <div class="col"></div>
      
      <div class="col vertical-rule">
        <h5><b>Help and Support</b></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a target="_blank" href="https://www.flipkart.com/pages/returnpolicy" class="nav-link p-0 text-body-secondary">Return Policy</a></li>
          <li class="nav-item mb-2"><a target="_blank" href="https://www.flipkart.com/pages/7_day_replacement" class="nav-link p-0 text-body-secondary">Defective Item</a></li>
          <li class="nav-item mb-2"><a target="_blank" href="https://www.amazon.in/events/greatindianfestival" class="nav-link p-0 text-body-secondary">Festival Sale</a></li>
          <li class="nav-item mb-2"><a target="_blank" href="https://www.amazon.in/gp/help/customer/display.html?nodeId=GTGBAWKHSRPLZDE8" class="nav-link p-0 text-body-secondary">Fast Delivery</a></li>
          <li class="nav-item mb-2"><a target="_blank" href="https://www.flipkart.com/pages/privacypolicy" class="nav-link p-0 text-body-secondary">Customer Privacy</a></li>
        </ul>
      </div>
      
      <div class="col vertical-rule">
        <h5><b>Get to Know Us</b></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a target="_blank" href="https://www.flipkartcareers.com/#!/aboutus" class="nav-link p-0 text-body-secondary">About Us</a></li>
          <li class="nav-item mb-2"><a target="_blank" href="https://www.amazon.jobs/en/" class="nav-link p-0 text-body-secondary">Careers</a></li>
        </ul>
      </div>
      
      <div class="col vertical-rule">
        <h5><b>Connect With Us</b></h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a target="_blank" href="https://www.facebook.com/profile.php?id=100065051376692" class="nav-link p-0 text-body-secondary">Facebook</a></li>
          <li class="nav-item mb-2"><a target="_blank" href="https://www.linkedin.com/school/b.-m.-s.-college-of-engineering/?originalSubdomain=in" class="nav-link p-0 text-body-secondary">Linkedin</a></li>
          <li class="nav-item mb-2"><a target="_blank" href="https://twitter.com/bmsce_utsav" class="nav-link p-0 text-body-secondary">Twitter</a></li>
          <li class="nav-item mb-2"><a target="_blank" href="mailto:hodcse@bmsce.ac.in" class="nav-link p-0 text-body-secondary">Gmail</a></li>
        </ul>
      </div>
    </footer>
  </div>
</footer>
