
  <nav class="navbar navbar-expand-lg sticky-top" style="background-color: rgb(237, 232, 232);">
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/items/category/Clothing">CLOTHES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/items/category/Appliances">APPS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/items/category/Electronics">ELECT</a>
        </li>
        <a href="http://localhost:3000/" class="navbar-brand-self" href="#">UrbanGlow</a>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/items/category/Accessories">ACCS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/items/category/Beauty">BEAUTY</a>
        </li>
        <li class="nav-item" style="width: 10rem;">
          <a class="nav-link" href="http://localhost:3000/new">SELL</a>
        </li>
          <a class="nav-link" href="/login">&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart" style="color: red !important;">&nbsp;&nbsp;<i class="fa-solid fa-cart-shopping"></i></a>
        </li>
      </ul>
  </nav>
</body>
