<%- include('boilerplate.ejs'); %>


<div class="center" style="font-family: Playfair Display;">
          <img  height="200px" width="200px" src="https://cdn-icons-png.flaticon.com/512/2762/2762885.png">
          <h5 style="margin-left: 1.2rem;" class="mt-2"> <b> Your Cart is Empty!</b></h5>
          <form action="/" method="get">
          <button style="margin-left: 2.5rem;" class="btn btn-primary btn-lg mt-3" type="submit">Shop Now</button>
</form>
</div>

