
<div class="address-box p-2" style="font-family: Playfair Display;">
          <button style="float: right; margin-top: 0.3rem !important;" class="btn btn-warning" type="submit">
            Change
          </button>
          <p style="margin-bottom: 0.1rem">
            Deliever to: <b>Shreyash Sinha <span style="font-family:serif">560019</span></b>
          </p>
          <p style="color: grey">
           <b>Sapthagiri pg for Boys, Mount Joy Road, Basavanagudi, Bangalore.</b> 
          </p>
        </div>
      